{
    "env": {
        "mocha": true
    },
    "globals": {
        "APP_ROOT": false,
        "expect": false,
        "request": false,
        "response": false,
        "sinon": false,
        "proxyquire": false
    }
}
